@import '~@fluentui/react/dist/sass/References.scss';

.gestionTickets {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }


}

.menuContainer {
  width: 200px;
}

.editTitle {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0 12px;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
}